<div>
    <div class="modal-header">
        <h3 ng-hide="editingMeaning">Create a Meaning</h3>
        <h3 ng-show="editingMeaning">
            Editing Meaning
            <div class="button-group pull-right" style="display:inline-block">
                <a ng-click="delete()" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
            </div>
        </h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label>You selected:</label>
                <div class="container" style="white-space: pre-line">
                    {{ meaningText }}
                </div>
            </div>
            <div class="form-group">
                <label>How important is it?</label>
                <div class="container">
                    <div class="btn-group">
                        <button
                            type="button" class="btn"
                            ng-click="typeClicked($event)"
                            ng-class="{ 'btn-success': model.type == 'lyric-super-important' }"
                            value="lyric-super-important">Super</button>
                        <button
                            type="button" class="btn"
                            ng-click="typeClicked($event)"
                            ng-class="{ 'btn-primary': model.type == 'lyric-important' }"
                            value="lyric-important">Really</button>
                        <button
                            type="button" class="btn"
                            ng-click="typeClicked($event)"
                            ng-class="{ 'btn-info': model.type == 'lyric-neutral' }"
                            value="lyric-neutral">Kinda</button>
                        <button
                            type="button" class="btn"
                            ng-click="typeClicked($event)"
                            ng-class="{ 'btn-warning': model.type == 'lyric-unimportant' }"
                            value="lyric-unimportant">Not really</button>
                        <button
                            type="button" class="btn"
                            ng-click="typeClicked($event)"
                            ng-class="{ 'btn-danger': model.type == 'lyric-irrelevant' }"
                            value="lyric-irrelevant">Not at all</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>What does it mean?</label>
                <textarea class="form-control" ng-model="model.description" required></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="onSubmit()">Insert</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
</div>
