/* line 1, ../sass/lyrical/_home.scss */
.home-panel-icon {
  font-size: 36px; }

/* line 1, ../sass/lyrical/_lyric.scss */
.lyric-super-important {
  color: #0000FF; }

/* line 5, ../sass/lyrical/_lyric.scss */
.lyric-important {
  color: #00FF00; }

/* line 9, ../sass/lyrical/_lyric.scss */
.lyric-neutral {
  color: #FFFF00; }

/* line 13, ../sass/lyrical/_lyric.scss */
.lyric-unimportant {
  color: #FF7F00; }

/* line 17, ../sass/lyrical/_lyric.scss */
.lyric-irrelevant {
  color: #FF0000;
  text-decoration: line-through; }

/* line 1, ../sass/lyrical/_misc.scss */
.cursor-default {
  cursor: default; }

/* line 5, ../sass/lyrical/_misc.scss */
.cursor-pointer {
  cursor: pointer; }

/* line 9, ../sass/lyrical/_misc.scss */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
