/* line 1, ../../sass/lyrical/_index.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

/* line 6, ../../sass/lyrical/_index.scss */
a {
  color: #00B7FF; }
