<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#"><strong>Lyrical</strong></a>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#playlists" class="dropdown-toggle cursor-default">
                    Playlists
                </a>
            </li>
            <li>
                <a href="#lyrics" class="dropdown-toggle cursor-default" data-toggle="dropdown">
                    Lyrics
                </a>
            </li>
        </ul>
    </div>
</nav>