<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#"><strong>Lyrical</strong></a>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#playlists">
                    Playlists
                </a>
            </li>
            <li>
                <a href="#lyrics" data-toggle="dropdown">
                    Lyrics
                </a>
            </li>
        </ul>
        <ul ng-controller="AuthCtl" class="nav navbar-nav navbar-right" style="margin-right: 5px">
            <li ng-hide="authenticated">
                <button type="button" class="btn btn-primary navbar-btn" ng-click="login()">Login</button>
            </li>
            <li ng-show="authenticated">
                <button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>