<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#"><strong>Lyrical</strong></a>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#playlists" class="dropdown-toggle" data-toggle="dropdown">
                        Playlists <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#playlists">Manage</a></li>
                        <li><a href="#playlists/create">Create</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#lyrics" class="dropdown-toggle" data-toggle="dropdown">
                        Lyrics <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#lyrics">Manage</a></li>
                        <li><a href="#lyrics/create">Create</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
          <div class="container">
            <h1>Welcome to Lyrical!</h1>
            <p>Lyrical is an easy way to show exactly what a song means to you.</p>
            <p><a class="btn btn-primary btn-lg">Try it!</a></p>
          </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="text-center" >
                    <h3>Find A Song</h3>
                    <span class="glyphicon glyphicon-music home-panel-icon"></span>
                    <p></p>
                    <p>
                        Find a song and add its lyrics
                    </p>
                    <hr>
                    <p>
                        You can include a link to SoundCloud or YouTube if you've got it!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center" >
                    <h3>Make It Yours</h3>
                    <span class="glyphicon glyphicon-pencil home-panel-icon"></span>
                    <p></p>
                    <p>
                        Take the lyrics and explain exactly what they mean to you
                    </p>
                    <hr>
                    <p>
                        Highlight parts you like, parts you dislike, and why you feel that way.
                    </p>
                    <p>
                        A single phrase or an entire verse - it's up to you!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center" >
                    <h3>Make A Playlist</h3>
                    <span class="glyphicon glyphicon-list home-panel-icon"></span>
                    <p></p>
                    <p>
                        Organize songs however you like, with playlists
                    </p>
                    <hr>
                    <p>
                        Whether by genre, by person or completely at random - there's no wrong way.
                    </p>
                    <hr>
                    <p>
                        If you don't like playlists, no problem - they're not required.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center" >
                    <h3>Share</h3>
                    <span style="font-size: 36px;" class="glyphicon glyphicon-share-alt"></span>
                    <p></p>
                    <p>
                        Share a song or a playlist with anyone
                    </p>
                    <hr>
                    <p>
                        Facebook, Twitter, Google+, we've got it all!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>