<div ng-controller="PlaylistCtl">
    <div class="container">
        <div class="page-header">
            <h2>Playlists</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="playlist in playlists" ng-click="edit({{$index}});">
                    <td>{{ playlist.title }}</td>
                    <td>{{ playlist.text }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>