.lyric-super-important {
    color: #0000FF;
}

.lyric-important {
    color: #00FF00;
}

.lyric-neutral {
    color: #FFFF00;
}

.lyric-unimportant {
    color: #FF7F00;
}

.lyric-irrelevant {
    color: #FF0000;
    text-decoration: line-through;
}