.youtube-logo {
    height: 32px;
    width: 32px;
    background-image: inline-image('youtube-stacked.png');
}

.soundcloud-logo {
    height: 32px;
    width: 32px;
    background-image: inline-image('soundcloud.png');
}