<div ng-controller="LyricIndexCtl">
    <div class="container">
        <div class="page-header">
            <h2>Lyrics
                <div class="button-group pull-right" style="display:inline-block">
                    <a href="#/lyrics/create" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span> Create
                    </a>
                </div>
            </h2>
        </div>
        <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lyric in lyrics" ng-click="select(lyric);">
                    <td>{{ lyric.title }}</td>
                    <td>{{ lyric.description }}</td>
                    <td ng-show="lyric.soundcloudUrl"><a href="{{ lyric.soundcloudUrl }}">
                        <img src="/images/soundcloud.png" style="width: 40px; height: 40px"></img>
                    </a></td>
                    <td ng-show="lyric.youtubeUrl"><a href="{{ lyric.youtubeUrl }}">
                        <img src="/images/youtube-stacked.png" style="width: 40px; height: 40px"></img>
                    </a></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>