<div ng-controller="LyricIndexCtl">
    <div class="container">
        <div class="page-header">
            <h2>Lyrics
                <div class="button-group pull-right" style="display:inline-block">
                    <a href="#/lyrics/create" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span> Create
                    </a>
                </div>
            </h2>
        </div>
        <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>SoundCloud</th>
                    <th>YouTube</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lyric in lyrics" ng-click="select(lyric);">
                    <td>{{ lyric.title }}</td>
                    <td>{{ lyric.text }}</td>
                    <td>{{ lyric.soundcloudUrl }}</td>
                    <td>{{ lyric.youtubeUrl }}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>