<div ng-controller="LyricUpdateCtl">
    <div class="container">
        <div class="page-header">
            <h2><span ng-model="model.title" contenteditable strip-br="true" no-line-breaks="true"></span>
                <div class="button-group pull-right" style="display:inline-block" ng-controller="LyricDeleteCtl">
                    <a ng-click="delete()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </div>
            </h2>
        </div>
        <form ng-submit="update()" name="form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label">SoundCloud URL</label>
                <div class="col-md-10">
                    <input ng-model="model.soundcloudUrl" type="text" class="form-control" placeholder="SoundCloud URL">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">YouTube URL</label>
                <div class="col-md-10">
                    <input ng-model="model.youtubeUrl" type="text" class="form-control" placeholder="YouTube URL">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Lyrics</label>
                <div class="col-md-10">
                    <lyriceditor></lyriceditor>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>