<div ng-controller="LyricShowCtl">
    <div class="container" ng-hide="model">
        Loading lyric...
    </div>
    <div class="container" ng-show="model">
        <div class="page-header">
            <h2><span>{{ model.title }}</span>
                <div class="button-group pull-right" style="display:inline-block">
                    <a ng-click="edit()" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>

                    <a ng-controller="LyricDeleteCtl" ng-click="delete()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </div>
            </h2>
        </div>
        <lyriceditor ng-model="model.text"></lyriceditor>
    </div>
</div>