extends layout

block bootstrap
    script(type='text/javascript').
        //Defer Angular bootstrap
        window.name = 'NG_DEFER_BOOTSTRAP';

        //Bootstrap libs and lyrical modules
        require([
            'require',
            'angular'
        ], function(require, angular) {
            'use strict';

            //Create submodules
            debugger;
            angular.module('lyrical.controllers', []);
            angular.module('lyrical.directives', []);
            angular.module('lyrical.resources', []);
            angular.module('lyrical.services', []);

            require(['lyrical'], function(lyrical) {
                debugger;
                var $html = angular.element(document.getElementsByTagName('html')[0]);

                angular.element().ready(function() {
                    $html.addClass('ng-app');
                    angular.bootstrap($html, [lyrical.name]);
                });
            });
        });

block content
    body
        header
        div(ng-view)
        footer