doctype 5
html
  head
    title= "Lyrical"

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='/css/lyrical.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    script(type='text/javascript', src='//code.jquery.com/jquery.js')
    script(type='text/javascript', src='js/lib/bootstrap.min.js')
  body
    block content