<div>
    <div class="modal-header">
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label>Choose a provider:</label>
                <a href="/auth/google">
                    <div class="login-gplus"></div>
                </a>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="onSubmit()">Login</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
</div>
